<configuration>
    <property name="defaultPattern"
              value="%d{HH:mm:ss.SSS} [%thread] %X{requestId} %X{userId} %-5level %logger{36} - %msg%n" />
    <appender name="standardOutput" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/WebShopProject.log</file>
        <append>true</append>
        <rollingPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <totalSizeCap>50Mb</totalSizeCap>
            <maxFileSize>5Mb</maxFileSize>
            <fileNamePattern>log/archive/WebShopProject-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="rollingFile" />
        <appender-ref ref="standardOutput" />
    </root>


</configuration>